body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.main-div{
    text-align: center;
}

#wins-losses{
    display: flex;
    justify-content: space-around;

}
#word-div{
    font-size: 25px;
}

#game-div {
    margin-top: 4rem;
    display: none;
}
#start-button {
    margin-bottom: 50px;
}